.DS_Store
.git-backup/
tempCodeRunnerFile.c

/aula5/ex1
/aula5/ex2
/aula5/ex3
/aula5/ex4
/aula5/ex5
/aula5/ex6
/aula5/ex7
/aula5/ex8
/aula5/ex9
/aula5/ex10

/aula4/ex1
/aula4/ex2
/aula4/ex3
/aula4/ex4
/aula4/ex5
/aula4/ex6
/aula4/ex7
/aula4/ex8
/aula4/ex9
/aula4/ex10
/aula4/ex11

/aula3/ex2
/aula3/ex3
/aula3/ex4
/aula3/ex5
/aula3/ex6
/aula3/ex7
/aula3/ex8

/aula2/ex1
/aula2/ex2
/aula2/ex3
/aula2/ex4
/aula2/ex5
